body {
  background-color: black;
}

nav {
  background-image: linear-gradient(160deg, #e60c0e 0%, #0f1010 100%);;
  font-size: xx-large;
  color: whitesmoke;
  font-weight: bold;
}

nav a {
  font-size: small;
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
}

.card-header {
  color: whitesmoke;
}

.resultsDiv {
  background-color:wheat;
  border: solid 5px black;
}

.movie-id {
  display: none;
}

#footer-text {
  color: whitesmoke;
}