/* most of the styling was handled in the html using bootstrap */
body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

nav {
  background-image: linear-gradient(160deg, #e60c0e 0%, #0f1010 100%);;
  font-size: xx-large;
  color: whitesmoke;
  font-weight: bold;
}

nav a {
  font-size: small;
  color: whitesmoke;
  font-weight: bold;
}

.error-text {
  font-size: small;
  color: whitesmoke;
  font-weight: bold;
}

.card-header {
  color: whitesmoke;
}

.card-title {
  font-size: large;
  font-weight: bold;
}

.resultsDiv {
  background-color:wheat;
  border: solid 5px black;
}

.movie-id {
  display: none;
}

#footer-text {
  color: whitesmoke;
}
